doctype html
html(lang="de")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        title Hashgen
        link(rel="shortcut icon" href="https://fire-engine-icons.github.io/shbyte-logopublishers/sharkbytelogo.ico")
        link(rel="apple-touch-icon" href="https://fire-engine-icons.github.io/shbyte-logopublishers/sharkbytelogo.png")
        link(rel="stylesheet" href="/boot.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous")
        style #others{display:none;} #csurfin{display:none;}
    body
      nav.navbar.navbar-expand-sm.justify-content-center.bg-primary.navbar-dark(style="background-color:#ff3000 !important")
                img(style="height:70px;" src="https://fire-engine-icons.github.io/shbyte-logopublishers/sharkbytelogo.svg" alt="Sharkbyte").imagelog
                ul.navbar-nav
                  li.nav-item
                    a.nav-link(style="color:#0010ff" href="https://github.com/sharkbyteprojects" target="_blank") Sharkbyte on GITHUB
                  - if(mess)
                      li.nav-item
                        a.nav-link(href="https://bit.ly/BlogShark2" target="_blank")=mess
      div
        h1.alert.alert-danger#csurfin Invalid CSURF Token!
        h1.alert.alert-danger#noscript Please activate JavaScript to use this Site!
      div#others
        h1 Shark Hashgen
        h2 Powered by shark-hashlib
        div.alert.alert-dark
          strong(style="color:white") How often users Called this site:
          iframe(scrolling="no" src="https://analytica.glitch.me/analytics/sharkbyte?appname=sharkapphashgen&appid=192331#0538ff" width="100%" height="85" frameborder="0")
        div
          - if(hash)
              div.alert.alert-success= "Your "+hashd+" Hash "+element + " from \""+ lasten+"\""
          button.btn.btn-warning(onclick="document.location.href='/api/help'") Api Help
          div.alert.alert-dark
            div#sffd
            h3 Hashgen
            form(action="/" method="POST")
              div!= '<input type="hidden" name="_csrf" value="'+csrfToken+'" id="pdjd">'
              input(type="hidden" name="ht" value="md5")#somethinghash
              textarea#tex.form-control(name="hash" rows="5" value="")
              button.btn.btn-success(type="submit") Generate
            script var xd=document.getElementById("somethinghash");
            br
            button.btn.btn-info(onclick="xd.value='md5';document.getElementById('md').disabled=true;document.getElementById('sha').disabled=false;document.getElementById('shb').disabled=false;")#md MD5
            button.btn.btn-info(onclick="xd.value='sha256';document.getElementById('md').disabled=false;document.getElementById('sha').disabled=true;document.getElementById('shb').disabled=false;")#sha SHA 256
            button.btn.btn-info(onclick="xd.value='sha1';document.getElementById('md').disabled=false;document.getElementById('sha').disabled=false;document.getElementById('shb').disabled=true;")#shb SHA 1
      script(src="https://cdn.jsdelivr.net/gh/Sharkbyteprojects/emojyRandom@v0.0.4/selective.js")
      script(type="text/javascript" src="/reloader.js/reloader.js")
      script document.getElementsByTagName("title")[0].innerText=randomEmojyShark.default()+" Hashgen "+randomEmojyShark.default();
      script document.getElementById("noscript").style="display:none;";document.getElementById("others").style="display:block;"; if(document.location.hash=="#invalid-csurf"){console.error("Invalid CSURF Token");document.getElementById("csurfin").style="display:block;"; setTimeout(()=>{ document.getElementById("csurfin").style="display:none;"; document.location.hash="#";}, 4*8000);}